@import '../../node_modules/swagger-editor-dist/swagger-editor.css'

* {
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 10px;
  background-color: rgba(0, 0, 0, 0.2);
}
::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.6);
}

body {
  font-family: Roboto, sans-serif;
  font-size: 9px;
  line-height: 1.42857143;
  color: #444;
  margin: 0px;
}

#swagger-editor {
  font-size: 1.3em;
}

.container {
  height: 100%;
  max-width: 880px;
  margin-left: auto;
  margin-right: auto;
}

#editor-wrapper {
  height: 100%;
  border: 1em solid #000;
  border: none;
}

.Pane2 {
  overflow-y: scroll;
}

.topbar {
  background-color: #89bf04;
  width: 100%;
  height: 46px;
  overflow: hidden;
}
.topbar-wrapper {
  padding: 0 11px;
  font-size: 16px;
  color: white;
  line-height: 46px;
}
.topbar-file {
  margin-right: 11px;
  width: 30px;
  height: 30px;
  border-radius: 15px;
  display: inline-block;
  vertical-align: middle;
  fill: rgba(255,255,255,.6);
  background-color: #547F00;
  cursor: pointer;
}
.topbar-name {
  font-weight: bold;
}

.Resizer {
  width: 2px;
  cursor: ew-resize;
}

.swagger-ui .wrapper {
  box-sizing: border-box;
}