@import '../../node_modules/swagger-editor-dist/swagger-editor.css'

* {
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 10px;
  background-color: rgba(0, 0, 0, 0.2);
}
::-webkit-scrollbar-thumb {
  background-color: rgba(99, 99, 99, 0.6);
}

body {
  font-family: Roboto, sans-serif;
  font-size: 9px;
  line-height: 1.42857143;
  color: #444;
  margin: 0px;
}

#swagger-editor {
  font-size: 1.3em;
}

.container {
  height: 100%;
  max-width: 880px;
  margin-left: auto;
  margin-right: auto;
}

#editor-wrapper {
  height: 100%;
  border: 1em solid #000;
  border: none;
}

.Pane2 {
  overflow-y: scroll;
}

.topbar {
  background-color: #89bf04;
  width: 100%;
  height: 46px;
  overflow: hidden;
}
.topbar-right {
  float: right;
  overflow: hidden;
  line-height: 46px;
  white-space: nowrap;
  color: white;
  padding: 0 1em;
}
.topbar-wrapper {
  padding: 0 11px;
  font-size: 16px;
  color: white;
  line-height: 46px;
  user-select: none;
  overflow: hidden;
}
.topbar-file {
  margin-right: 11px;
  width: 30px;
  height: 30px;
  border-radius: 15px;
  display: inline-block;
  vertical-align: middle;
  fill: rgba(255,255,255,.6);
  background-color: #547F00;
  cursor: pointer;
}
.topbar-name {
  display: inline-block;
  vertical-align: top;
  overflow: hidden;
  width: 12em;
  white-space: nowrap;
  position: relative;
}
.topbar-name-text {
  display: inline-block;
  vertical-align: top;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  margin-left: 0;
  transition: margin-left .25s ease;
}
.topbar-name-flag {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 10px;
  background-color: white;
  vertical-align: 1%;
  margin: 0 5px;
}
.topbar-name-btns {
  margin: auto;
  padding: 0 5px;
  height: 20px;
  background-color: rgba(87, 132, 0, 0.41);
  line-height: 20px;
  border: 1px solid rgba(255,255,255,.35);
  border-radius: 20px;
  transition: left .25s ease;
}
.topbar-name-btns.abs {
  position: absolute;
  top: 0;
  bottom: 0;
  left: -200px;
}
.topbar-name-btns.inline {
  display: inline-block;
  vertical-align: middle;
  margin: 0 1em;
}
.topbar-name-btn {
  display: inline-block;
  padding: 0 10px;
  cursor: pointer;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.topbar-name-btn:active {
  color: rgba(255,255,255,.6);
}
.border-right {
  border-right: 1px solid rgba(255,255,255,.35);
}
.border-left {
  border-left: 1px solid rgba(255,255,255,.35);
}
.topbar-name:hover .topbar-name-text {
  margin-left: -10em;
}
.topbar-name:hover .topbar-name-btns {
  left: 0;
}

.Resizer {
  width: 2px;
  cursor: ew-resize;
}

.swagger-ui .wrapper {
  box-sizing: border-box;
}
.topbar-name-about {
  display: inline-block;
}
.topbar-name-about-svg {
  width: 21px;
  height: 21px;
  border-radius: 21px;
  vertical-align: middle;
  fill: #547F00;
  cursor: pointer;
}